@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

body {
  font-family: 'Oxygen', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes toast-progress-animation {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.navbar-link {
  @apply hover:decoration-emerald-400 hover:decoration-2 hover:underline hover:underline-offset-[27px];
}
