@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

body {
  font-family: 'Oxygen', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes toast-progress-animation {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.navbar-link {
  @apply absolute bottom-0 left-0 w-0 h-0.5 bg-gradient-to-r from-emerald-500 to-teal-600 group-hover:w-[95%] transition-all duration-300 rounded-full;
}
